@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #284438;
  color: #F9F9F7;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1B2E26;
}

::-webkit-scrollbar-thumb {
  background: #C8A764;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E8D4A6;
}

/* Utilitarios de selección */
::selection {
  background-color: #C8A764;
  color: black;
}
