@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #11141a;
}
::-webkit-scrollbar-thumb {
  background: #2a3241;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cfa86b;
}
